@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/chatpanel.css" />

<div class="container">
    <div class="row justify-content-center">
        <!-- Column for the chat panel -->
        <div class="col-md-8" style="margin-top: 100px;">
            <div class="chat-container">
                <div class="chat-header">
                    <span class="bot-name">Heart Doctor Bot</span>
                    <button class="chat-reset-btn">
                        <img src="~/images/resetchatbutton.png" alt="Reset" class="reset-icon">
                    </button>
                </div>
                <div class="chat-body">
                    <!-- Chat messages go here -->
                </div>
                <div class="chat-input-container">
                    <div class="input-with-send">
                        <input type="text" placeholder="Type a message..." class="chat-input">
                        <button class="chat-send-btn">
                            <img src="~/images/sendbutton.png" alt="Send" class="send-icon">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






