@{
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<link rel="stylesheet" href="~/css/_adminnavbar.css" />

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark @(currentAction == "Sources" ? "active" : "")" asp-controller="Admin" asp-action="Sources">Sources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(currentAction == "Test" ? "active" : "")" asp-controller="Admin" asp-action="Test">Chatbot Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(currentAction == "Test" ? "active" : "")" asp-controller="Admin" asp-action="Test">Chat History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark @(currentAction == "Test" ? "active" : "")" asp-controller="Admin" asp-action="Test">Manage Models</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
