<!DOCTYPE html>
<!-- <a href="c:\users\markl\onedrive\desktop\softdev\ai-ml\1sem\eksamen\vs_solution\software_1st_semester\heartdisease\services\chatbothistoryservice.cs">c:\users\markl\onedrive\desktop\softdev\ai-ml\1sem\eksamen\vs_solution\software_1st_semester\heartdisease\services\chatbothistoryservice.cs</a> -->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HeartDisease</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HeartDisease.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/messagecontainer.css asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Webshop" asp-action="Index">HeartDisease</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (User!.Identity!.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Webshop" asp-action="Index">Webshop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="HeartDisease" asp-action="Index">Heart Disease Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Prediction" asp-action="Index">Heart Disease Prediction</a>
                            </li>
                             <li class="nav-item">
                                 <a class="nav-link" asp-area="" asp-controller="Chat" asp-action="Index">Heart Doctor</a>
                             </li>
                     
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div id="messageContainer" class="message" style="display: none;"></div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


