.container {
    max-width: 1200px;
}

.table-hover tbody tr:hover {
    background-color: #f8f9fa;
}

.form-control {
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
    padding: 0.75rem 1.25rem;
}

.table-header-custom {
    background-color: #007bff;
    color: #ffffff;
}

    .table-header-custom th {
        font-weight: bold;
        text-align: center;
    }

.pagination-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}

.pagination {
    margin-top: 0;
}

    .pagination .page-item.active .page-link {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
    }

    .pagination .page-link {
        color: #007bff;
    }

        .pagination .page-link:hover {
            background-color: #f8f9fa;
            border-color: #ddd;
            color: #0056b3;
        }
