body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
}

.chat-container {
    width: 100%;
    height: 900px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 15px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-reset-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.reset-icon {
    width: 24px;
    height: 24px;
    filter: invert(1);
}

.chat-body {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.chat-message {
    margin-bottom: 20px;
    display: flex; 
    justify-content: flex-end; 
}

    .chat-message.user-message {
        justify-content: flex-start; 
    }

    .chat-message.bot-message {
        justify-content: flex-end;
    }

.message-background {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
}

.message-background-received {
    background-color: #e9ecef;
    color: #333;
}

.message-background-sent {
    background-color: #007bff;
    color: #fff;
}

.chat-timestamp {
    font-size: 0.8em;
    color: #888;
}

.chat-input-container {
    border-top: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.input-with-send {
    display: flex;
    align-items: center;
    width: 100%;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-send-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

    .chat-send-btn img {
        width: 24px;
        height: 24px;
    }

.bot-name {
    font-weight: bold; 
    color: black; 
}
